<!-- Data layer -->
<script type='text/javascript'>
	dataLayer = [{
	"timestamp":1607989830,
	"contentType":"story",
	"canonicalURL":"https:\/\/projects.seattletimes.com\/\/2020\/videos-of-the-year",
	"domain":"www.seattletimes.com",
	"post_id":<%= json.project.post_id %>,
	"author":"<%= json.project.author %>",
	"publishdate":"2020-12-15 06:00:00",
	"modifieddate":"2020-12-15 06:00:00",
	"title": "<%= json.project.title %>",
	"credit":"Seattle Times video editor",
	"tags":"",
	"categories":"",
	"galleryType":"standard",
	"age":0,
	"source":"ST-Projects",
	"meter":"on",
	"ads":"off",
	"allowComments":"off",
	"section_tier1":"seattle-news",
	"section_tier2":"",
	"sections_all":"seattle-news|photo-video|video",
	"othersections":"photo-video, video",
	"internalTags":"Projects",
	"hasVisuals": true,
	"videos": 0,
	}];
</script>
